.about {
  padding: 50px 25px;
}

.about .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-description p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 25px;
}

@media screen and (min-width: 1024px) {
  .about {
    padding: 100px;
  }

  .about .container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
  }

  .about-description .title {
    margin-bottom: 10px;
  }

  .about-description p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 25px;
  }
}
@media screen and (min-width: 1366px) {
  .about .container {
    gap: 40px;
  }

  .about-description p {
    font-size: 1.4rem;
    line-height: 30px;
  }
}
@media screen and (min-width: 1920px) {
  .about .container {
    gap: 50px;
  }

  .about-description p {
    font-size: 1.5rem;
    line-height: 35px;
  }
}
